<section class="about">
    <div class="img_container"><img src="http://placehold.it/300x300" width="100%" /></div>
    <div class="text_container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit diam et tincidunt maximus. Proin cursus auctor malesuada. Pellentesque ut fermentum tellus. Curabitur id ornare sapien. Nunc nec nisl augue. Aliquam faucibus hendrerit felis nec feugiat. Etiam et magna tellus. Integer congue augue vel diam dignissim, et gravida sapien imperdiet. Sed eget porta tellus. Vivamus pellentesque sapien a luctus hendrerit. Suspendisse gravida massa id turpis rhoncus, sit amet laoreet lectus viverra. Proin venenatis enim quam, non rutrum eros finibus non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit diam et tincidunt maximus. Proin cursus auctor malesuada. Pellentesque ut fermentum tellus. Curabitur id ornare sapien. Nunc nec nisl augue. Aliquam faucibus hendrerit felis nec feugiat. Etiam et magna tellus. Integer congue augue vel diam dignissim, et gravida sapien imperdiet. Sed eget porta tellus. Vivamus pellentesque sapien a luctus hendrerit. Suspendisse gravida massa id turpis rhoncus, sit amet laoreet lectus viverra. Proin venenatis enim quam, non rutrum eros finibus non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.        </p>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit diam et tincidunt maximus. Proin cursus auctor malesuada. Pellentesque ut fermentum tellus. Curabitur id ornare sapien. Nunc nec nisl augue. Aliquam faucibus hendrerit felis nec feugiat. Etiam et magna tellus. Integer congue augue vel diam dignissim, et gravida sapien imperdiet. Sed eget porta tellus. Vivamus pellentesque sapien a luctus hendrerit. Suspendisse gravida massa id turpis rhoncus, sit amet laoreet lectus viverra. Proin venenatis enim quam, non rutrum eros finibus non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.        </p>
        </p>
    </div>
</section>