<header>
        <div class="logo-container">
            <a href="/">
                <h1>The Classic</h1>
                <h1 class="line_2">Toy Shop</h1>
            </a>
        </div>
        <div id="mobile_menu" ng-click="$ctrl.showMenu()">
            <img src="build/images/landing/mobile_menu.png" />
        </div>
        <nav>
            <ul>
                <li><a class="header_links" href="/products">Products</a></li>
                <li><a class="header_links" href="/about">About</a></li>
                <li><a class="header_links" href="/contact">Contact</a></li>
            </ul>
        </nav>
</header>