<div class="product_details">
    <div class="nav_back" ng-click="go_back()">&#8592; View all products</div>
    <div class="product_details__card">
        <div class="product_details__pictures">
            <img id="main_image" class="main_image" ng-src="/build/images/products/{{product.id}}/main.png" />
            <div class="thumbnail_container" ng-if="product.images.length > 1">
                <div class="thumbnail" ng-repeat="item in product.images" ng-click="switch_images(item.file)">
                    <img src="{{item.file}}"/>
                </div>
            </div>
        </div>
        <div class="product_details__text">
            <h2>{{product.name}}</h2>
            <p class="product_description"></p>
        </div>
    </div>
</div>