<div class="product_card">
    <div class="product_img" ng-click="$ctrl.goToDetails($ctrl.product.id)">
        <img src="/build/images/products/{{$ctrl.product.id}}/main.png" />
        <div class="product_img__overlay">
            <img class="icon" src="/build/images/icons/loupe_blanc.png" />
            <p>View details</p>
        </div>
    </div>
    <div class="product_card__text">
        <h5>{{$ctrl.product.name}}</h5>
        <button ng-click="$ctrl.goToDetails($ctrl.product.id)">View details</button>
    </div>
</div>