.admin_container, {
    padding: 3rem;
    h3 { text-decoration: underline; }
    input[type="text"] {
        padding: 0.2rem;
    }
    
    table tr:nth-child(even) {
        background-color: lightgrey;
    }
    
    section {
        margin-bottom: 2rem;
    }
    
    .admin_create_btn {
        margin-bottom: 1rem;
    }
}

.admin_container, .admin_product_manager_container {
    button {
        padding: 0.4rem 0.6rem;
        border-radius: 3px;
        border: 0;
        cursor: pointer;
        margin: 0.2rem
    }
}