.admin_messages {
    width: 90%;
    tr td:last-child {
        text-align: center;
    }
    th {
        padding: 1rem;
    }
    td {
        padding: 0.6rem;
    }
}

.message-editor-container {
    padding: 3rem 9rem;
    tr:nth-child(2n) {
        background-color: lightgrey;
    }
    td {
        padding: 0.6rem;
    }
}