.admin_products {
    table {
        width: 90%;
        tr td:last-child {
            text-align: center;
        }
        .product_thumbnails {
            text-align: center;
            img { max-width: 5rem; }
        }
    }
}

.admin_product_manager_container {
    padding: 3rem;
    table {
        width: 90%; 
        input, textarea {
            padding: 0.5rem;
            width: 90%;
        }
        select {
            padding: 0.3rem;
        }
    }
    #admin_image_previews {
        display: flex;
        flex-wrap: wrap;
    }
    .product_preview {
        margin: 0.5rem;
        padding: 0.5rem;
        width: 15rem;
        img {
            width: 15rem;
            height: 15rem;
        }
    }
    .main_product {
        border: 2px solid green;
    }
}