<footer>
    <div class="footer_col admin_login">
        <a href="/admin">Admin</a>   
    </div>
    <div class="footer_col copy_right">
        <p>&copy; <a href="http://davidgagnedesign.com">David Gagne Design</a></p>
    </div>
</footer>