<div class="admin_product_manager_container">
    <h2>{{ $ctrl.mode }} Product</h2>
    <a ng-href="/admin"><button>Back to dashboard</button></a>
    <form name="product_from" novalidate>
        <table>
            <tr>
                <td>
                    <input type="text" name="productName" placeholder="Product Name" ng-model="$ctrl.productDetails.name" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="type" ng-model="$ctrl.productDetails.type_id" ng-options="item.id as item.type_name for item in $ctrl.types" required>
                        <option value=''>Select Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><textarea id="productDescription" name="description" rows="8" cols="40" placeholder="Description" ng-model="$ctrl.productDetails.description"></textarea></td>
            </tr>
            <tr>
                <td><p>Select product images (approx: 250x250)</p></td>
            </tr>
            <tr>
                <td><input id="image_input" type="file" name="images" ng-model="$ctrl.productDetails.images" placeholder="Select Image" /></td>
            </tr>
            <tr>
                <td>
                    <div id="admin_image_previews">
                        <div ng-repeat="item in $ctrl.productsImages track by $index">
                            <div class="product_preview" ng-class="{'main_product': item.isMain}">
                                <img ng-src="{{item.file}}" />
                                <button class="selectMain" ng-click="$ctrl.selectMainImage($event, $index)">Select as main</button>
                                <button class="removeImg" ng-click="$ctrl.deleteImages($index)">Delete</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-if="$ctrl.mode === 'create'" ng-click="$ctrl.submitProduct(product_from.$valid)" />Save</button>
                    <button ng-if="$ctrl.mode === 'edit'" ng-click="$ctrl.updateProduct(product_from.$valid)" />Update</button>
                </td>
                <td ng-if="$ctrl.mode === 'edit'"><button ng-click="$ctrl.deleteProduct($ctrl.productDetails.id)" />Delete</button>
                </td>
            </tr>
        </table>
    </form>
</div>