<section class="admin_products">
	<div class="row">
		<div class="col">
			<button class="admin_create_btn" ng-click="$ctrl.goToManager('new')">Create new product</button>
			<table class="admin-products-list">
				<tr class="admin-products-row" ng-repeat="item in $ctrl.products">
					<td class="admin-products-cell product_thumbnails">
						<img ng-src="build/images/products/{{ item.id }}/main.png">
					</td>	
					<td class="admin-products-cell">{{ item.name }}</td>
					<td class="admin-products-cell">{{ item.type_name }}</td>
					<!-- <td class="admin-products-cell">{{ item.description }}</td> -->
					<td class="admin-products-cell"><button class="admin-products-edit-btn" ng-click="$ctrl.goToManager(item.id)">Edit</button></td>
				</tr>
			</table>
		</div>
	</div>
</section>