<section class="admin_types_container">
    <button class="admin_create_btn" ng-click="$ctrl.toggleCreate()">Create new category</button>
    <table class="create_type" ng-if="$ctrl.showCreate">
        <tr>
            <td><input type="text" ng-model="$ctrl.createName"></td>
            <td><button ng-click="$ctrl.saveType()">Save</button></td>
        </tr>
    </table>
    <table class="list_types">
        <tr ng-repeat="item in $ctrl.types track by $index">
            <td>
                <span ng-if="$ctrl.editMode !== item.id">{{item.type_name}}</span>
                <div class="type_editor" ng-if="$ctrl.editMode === item.id">
                    <input type="text" ng-model="item.type_name" />
                    <button ng-click="$ctrl.edit(item.id, item.type_name)">Save</button>
                </div>
            </td>
            <td><button ng-click="$ctrl.editor_toggle(item.id)">Edit</button></td>
            <td><button ng-click="$ctrl.deleteType(item.id)">Delete</button></td>
        <tr>
    </table>
</section>