<div class="alert-container" ng-show="alert.asAlert">
	<div>
	    <div>
	        <div><p>{{alert.message}}</p></div>
	    </div>
	    <div>
	    	<div><button ng-click="alert.closeAlert()">close</button></div>
	    </div>
	</div>
</div>