<div class="admin_login">
   <h3>Administration Login</h3>
        <form name="loginForm" ng-submit="$ctrl.processForm()" novalidate>
            <table>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input type="text" name="email" ng-model="$ctrl.email">
                    </td>
                </tr>
                 <tr>
                    <td>
                        <label for="email">Password:</label>
                    </td>
                    <td>
                        <input type="password" name="password" ng-model="$ctrl.password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form> 
</div>