<div class="message-editor-container">
    <table>
        <tr>
            <td>From: </td>
            <td>{{$ctrl.messageData.name}}</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>{{$ctrl.messageData.email}}</td>
        </tr>
        <tr>
            <td>Sent date: </td>
            <td>{{$ctrl.messageData.send_time}}</td>
        </tr>
        <tr>
            <td>Message: </td>
            <td>{{$ctrl.messageData.message}}</td>
        </tr>
        <tr>
            <td><a href="mailto:{{$ctrl.messageData.email}}">Reply</a></td>
        </tr>
    </table>
</div>