<section>
    <table class="admin_messages">
        <tr>
            <th>Sender's name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Send time</th>
            <th>Manage</th>
        </tr>
        <tr ng-repeat="msg in $ctrl.messages">
            <td>{{msg.name}}</td>
            <td>{{msg.email}}</td>
            <td>{{msg.message}}</td>
            <td>{{msg.send_time}}</td>
            <td><button ng-click="$ctrl.goToEditor(msg.id)">View Details</button></td>
        </tr>
    </table>
</section>