<div class="admin_container">
    <div class="row">
        <div class="col">
            <h3>Messages</h3>
            <admin-messages></admin-messages>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Product Types</h3>
            <types-manager></types-manager>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Products</h3>
            <admin-products></admin-products>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Users</h3>
            <admin-users></admin-users>
        </div>
    </div>
</div>