.admin_login {
    width: 50%;
    margin: auto;
    form {
        input {
            border: 1px solid #b3b3b3;
            padding: 0.5rem;
            font-family: 'nixie';
        }
        input[type="submit"] {
            margin-top: 1rem;
        }
        label: {
            margin-right: 3rem;
        }
    }
}
