.alert-container {
    text-align: center;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    p, button {
        margin: 0.3rem;
    }
}