// FONTS
@font-face {
    font-family: 'mighttype';
    src: url('fonts/MightypeScript.otf');
}

@font-face {
    font-family: 'milton_one';
    src: url('fonts/Milton_One.otf');
}

@font-face {
    font-family: 'milton_one';
    src: url('fonts/Milton_One_Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'behind_one';
    src: url('fonts/Behind_Script.otf');
}

@font-face {
    font-family: 'nixie';
    src: url('fonts/NixieOne.ttf');
}

// Index
.main_views {
    min-height: 475px;
}
// FORM
.btn_main {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(247, 235, 236, 0.3);
    font-family: 'nixie';
    font-weight: bold;
}
.as_error {
    border-color: $error !important;
}

// COMPONENTS
body{
    font-family: 'nixie';
}

a {
   outline: 0;
}