.contact_container {
    width: 60%;
    margin: auto;
    form {
        input[type="text"], input[type="email"], textarea {
            width: 100%;
        }
        input[type="text"], input[type="email"], input[type="number"], input[type="date"], textarea {
            display: block;
            border: 1px solid #b3b3b3;
            margin-top: 1rem;
            padding: 0.5rem;
            font-family: 'nixie';
        }
        textarea {
            min-height: 100px;
        }
        .cakeParams {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;
            width: 102%;
        }
    }
}