footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    bottom: 0;
    a {
        color: black;
        text-decoration: none
    }
    .footer_col {
        width: 50%;
        padding: 1rem;
    }
    .copy_right {
        text-align: right;
    }
}