header {
    align-items: center;
    display: flex;
    justify-content: center;
    // -webkit-box-shadow: 0px 3px 15px 0px rgba(228, 228, 228, 0.15);
    // -moz-box-shadow:    0px 3px 15px 0px rgba(228, 228, 228, 0.15);
    // box-shadow:         0px 3px 15px 0px rgba(228, 228, 228, 0.15);
    .logo-container {
        width: 35%;
        margin-left: 4rem;
        h1 {
            font-family: 'milton_one';
            font-weight: bold;
            font-size: 4.5rem;
            line-height: 0.5rem;
            margin: 3rem;
        }
        .line_2 {
            padding-left: 6rem;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    #mobile_menu {
        display: none;
    }
    ul {
        display: inline-block;
        li {
            display: inline;
            font-family: 'nixie';
            font-size: 1.2rem;
            margin: 0 3.5rem;
            color: $main-grey;
            a {
                text-decoration: none;
                color: $main-grey;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .is-active {
        text-decoration: underline;
    }
}

// Small desktop
@media screen and (max-width: $small-desktop) {
    header {
        .logo-container {
            width: 45%;
            margin: 0;
        }
        ul {
            li {
                font-size: 1rem;
                margin: 0 1rem;
                padding: 1rem;
            }
        }
    }
}

// Tablettes
@media screen and (max-width: $tablettes) {
    header {
        flex-direction: column;
        .logo-container {
            width: 100%;
            margin: 0;
            text-align: center;
            h1 {
                font-size: 6.5rem;
                line-height: 1.5rem;
            }
            .line_2 {
                padding: 0;
            }
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                text-align: center;
                font-size: 1rem;
                margin: 0 1rem;
                padding: 1rem;
            }
        }
    }
}

// Large Mobile
@media screen and (max-width: $large-mobile) {
    header {
        .logo-container h1 {
            font-size: 5.5rem;
        }
        #mobile_menu {
            display: block;
            margin-bottom: 1rem;
        }
        ul {
            display: none;
            padding: 0;
            li {
                display: block;
            }
        }
    }
}

// Small Mobile
@media screen and (max-width: $small-mobile) {
    header {
        .logo-container {
            h1 {
                font-size: 4.5rem;
                line-height: 1rem;
            }
        }
    }
}