.product_card__container {
    width: 30%;
    margin: 1.5%;
    margin-bottom: 10px;
    font-family: 'nixie';
    .product_card {
        width: 90%;
        margin: auto;
        background-color: $cardColor;
        padding: 0.7rem;
        border-radius: 4px;
        -webkit-box-shadow: $cardShadow;
        -moz-box-shadow: $cardShadow;
        box-shadow: $cardShadow;
        img {
            width: 100%;
            margin: auto;
        }
        .product_img {
            position: relative;
            .product_img__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                opacity: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.7);
                transition: opacity 0.5s ease;
                .icon {
                    width: 10%;
                    margin: 0;
                    opacity: 0;
                    transition: opacity 1s ease;
                }
                p {
                    color: #ffffff;
                    opacity: 0;
                    transition: opacity 1s ease;
                }
            }
        }
        .product_img:hover {
            .product_img__overlay {
                cursor: pointer;
                opacity: 1;
                .icon,
                p {
                    opacity: 1;
                }
            }
        }
        .product_card__text {
            align-items: center;
            width: 100%;
            h5 {
                flex-grow: 2;
            }
            button {
                font-family: 'nixie';
                border-radius: 4px;
                box-shadow: none;
                border: 0;
                padding: 7px;
                max-height: 35px;
                cursor: pointer;
                transition: all 0.3s ease;
                background-color: buttonface;
            }
            
            button:hover {
                transform: scale(0.85);
            }
        }
    }
}

// 4K display
@media screen and (max-width: $four_k) and (min-width: $small-desktop) {
    .product_card__container {
        width: 20%;
        .product_card {
            width: 90%;
        }
    }
}

// Tablettes
@media screen and (max-width: $tablettes) {
    .product_card__container {
        width: 45%;
    }
}

// Large mobile
@media screen and (max-width: $large-mobile) {
    .product_card__container {
        width: 90%;
        .product_card {
            width: 80%;
        }
    }
}