.product_details {
    width: 85%;
    margin: 2rem auto 0;
    .nav_back {
        font-family: 'nixie';
        color: #515151;
        margin: 1.5rem 0;
        cursor: pointer;
        font-size: 1rem;
        display: flex;
        align-items: center;
        border-radius: 4px;
        box-shadow: none;
        border: 0;
        justify-content: center;
        padding: 7px;
        width: 20%;
        background-color: buttonface;
        transition: all 0.3s ease;
    }
    .nav_back:hover {
        transform: scale(0.85);
    }
    .product_details__card {
        display: flex;
        background-color: $cardColor;
        padding: 0.7rem;
        border-radius: 4px;
        -webkit-box-shadow: $cardShadow;
        -moz-box-shadow: $cardShadow;
        box-shadow: $cardShadow;
        
        .product_details__pictures {
            width: 25%;
            text-align: center;    
            .main_image {
                width: 100%;
            }
            .thumbnail_container {
                display: flex;
                flex-wrap: wrap;
                overflow-y: hidden;
                overflow-x: scroll;
                .thumbnail {
                    width: 25%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        
        .product_details__text {
            padding: 0 2rem;
            font-family: 'nixie';
        }
    }
}

@media screen and (max-width: 950px) {
    .product_details {
        .nav_back {
            font-size:  0.8rem;
            width: 30%;
        } 
    }
}

@media screen and (max-width: $tablettes) {
    .product_details {
        .product_details__card {
            display: block;
            .product_details__pictures {
                width: 45%;
                text-align: center;
                margin: auto;        
            }
        }
    }
}

@media screen and (max-width: $large-mobile) {
    .product_details {
        .product_details__card {
            .product_details__pictures {
                width: 80%;
            }
        }
    }
}