// COLORS
$main-grey: #515151;
$light-pink: rgba(247, 235, 236, 0.3);
$error: #ED283F;
$cardColor: rgba(195, 226, 220, 0.4);
$cardShadow: 0px 0px 6px 1px rgba(212, 212, 212, 0.3);

// MOBILE WIDTH
$four_k: 2560px;
$small-desktop: 1047px;
$tablettes: 825px;
$small-tablettes: 610px;
$large-mobile: 425px;
$small-mobile: 320px;