<section class="contact_container">
    <form name="contactForm" ng-submit="$ctrl.sendMessage()" novalidate>
        <div ng-if="$ctrl.sent"><p>Thanks you! Your message was sent.</p></div>
        <div ng-if="$ctrl.sending"><p>Sending ...</p></div>
        
        <input type="email" name="email" ng-class="{'as_error': $ctrl.invalid_email && $ctrl.as_error}" ng-model="$ctrl.email" placeholder="Email*" />
        <input type="text" name="name" ng-class="{'as_error': $ctrl.invalid_name && $ctrl.as_error}" ng-required="required" ng-model="$ctrl.name" placeholder="Name*" />
        
        <textarea ng-model="$ctrl.message" name="message" ng-class="{'as_error': $ctrl.invalid_message && $ctrl.as_error }" col="20" row="50" placeholder="Message*"></textarea>
        
        <input class="btn_main" type="submit" value="Send" />
        <legend>* Required fields</legend>
    </form>
</section>