<section class="admin_users">
    <table>
		<th>First name</th>
		<th>Last name</th>
		<th>Email</th>
		<th>Actions</th>
		<tr ng-repeat="item in $ctrl.users">
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.email}}</td>
        </tr>
	</table>
</section>